.header{
      background-color: rgb(83, 150, 209);
      height: 80px;
      align-items: center;
      display: flex;
      justify-content: center;
      
}
.header a{
      text-decoration: none;
      color: #fff;
      font-size: 28px;
      margin-right: 28px;
}.header a:hover{
      color: rgb(209, 189, 5);
}